<tr>
  <% project_1 = row.student && row.student.projects.cli.first %>
  <% project_2 = row.student && row.student.projects.sinatra.first %>
  <% project_3 = row.student && row.student.projects.rails.first %>
  <% project_4 = row.student && row.student.projects.javascript.first %>
  <% project_5 = row.student && row.student.projects.final.first %>
  <td><%= row.student ? link_to(row.full_name, student_path(row.student)) : 'N/A' %></td>
  <td><%= row.completed_lessons_count %></td>
  <td><%= row.total_lessons_count %></td>
  <td><%= row.email %></td>
  <td>
    <% if project_1 %>
      <%= link_to(project_1.status, "https://learn.co/portfolio-projects/#{project_1.id}", target: 'blank') %> 
      <%= link_to project_path(project_1), method: :patch, style: 'text-decoration: none;' do %>
        <span class=reload>&#x21bb;</span>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if project_2 %>
      <%= link_to(project_2.status, "https://learn.co/portfolio-projects/#{project_2.id}", target: 'blank') %> 
      <%= link_to project_path(project_2), method: :patch, style: 'text-decoration: none;' do %>
        <span class=reload>&#x21bb;</span>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if project_3 %>
      <%= link_to(project_3.status, "https://learn.co/portfolio-projects/#{project_3.id}", target: 'blank') %> 
      <%= link_to project_path(project_3), method: :patch, style: 'text-decoration: none;' do %>
        <span class=reload>&#x21bb;</span>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if project_4 %>
      <%= link_to(project_4.status, "https://learn.co/portfolio-projects/#{project_4.id}", target: 'blank') %> 
      <%= link_to project_path(project_4), method: :patch, style: 'text-decoration: none;' do %>
        <span class=reload>&#x21bb;</span>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if project_5 %>
      <%= link_to(project_5.status, "https://learn.co/portfolio-projects/#{project_5.id}", target: 'blank') %> 
      <%= link_to project_path(project_5), method: :patch, style: 'text-decoration: none;' do %>
        <span class=reload>&#x21bb;</span>
      <% end %>
    <% end %>
  </td>
  <td>
  <%= add_button(row.student) %>
  </td>
</tr>