<h1>My Student's Progress</h1>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Lessons Completed</th>
      <th>Lessons Deployed</th>
      <th>Email</th>
      <th>Projects Dashboard</th>
      <th>Graduation Dashboard</th>
      <th>Add/Remove</th>
    </tr>
  </thead>
  <tbody>
<% @students.each do |student| %> 
  <% row = student.last_progress %>
  <tr>
    <td><%= link_to row.full_name, student_path(row.student) %></td>
    <td><%= row.completed_lessons_count %></td>
    <td><%= row.total_lessons_count %></td>
    <td><%= row.email %></td>
    <td><%= link_to "Projects", "https://learn.co/portfolio-projects/student-dashboard/#{row.github_username}" %></td>
    <td><%= link_to "Graduate", "https://learn.co/graduation/student-dashboard/#{row.github_username}" %></td>
    <td><%= row.student && add_button(row.student) %></td>
  </tr>
<% end %>
</tbody>
</table>