<%= form_with(model: batch_progress_report, local: true) do |form| %>
  <% if batch_progress_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batch_progress_report.errors.count, "error") %> prohibited this batch_progress_report from being saved:</h2>

      <ul>
      <% batch_progress_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dn">
    <%= form.label :batch_id %>
    <%= form.text_field :batch_id, value: params[:batch_id] %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
