<p id="notice"><%= notice %></p>

<p>
  <strong>Batch:</strong>
  <%= @batch_progress_report.batch.try(:name) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @batch_progress_report.created_at.strftime("%m/%d/%Y") %>
</p>
<table>

  <thead>
  <%= render partial: 'batch_progress_report_rows/headers' %>
  </thead>
  <tbody>
    <% @batch_progress_report.batch_progress_report_rows.each do |row| %> 
      <%= render partial: 'batch_progress_report_rows/row', locals: {row: row} %>
    <% end %>
  </tbody>
</table>


