<p id="notice"><%= notice %></p>

<p>
  <strong>Batch:</strong>
  <%= @batch.batch_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Iteration:</strong>
  <%= @batch.iteration %>
</p>
<%= render partial: "batch_progress_reports/form", locals: {batch: @batch, batch_progress_report: @batch.batch_progress_reports.build }%>
<% if @batch_progress_report %>
  <%= render template: "batch_progress_reports/show" %>
<% end %>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %> | 
<%= link_to 'Past Reports', batch_progress_reports_path(@batch) %>
