<p id="notice"><%= notice %></p>

<p>
  <strong>Batch:</strong>
  <%= @batch.batch_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Iteration:</strong>
  <%= @batch.iteration %>
</p>
<%= render partial: "batch_progress_reports/form", locals: {batch: @batch, batch_progress_report: @batch.batch_progress_reports.build }%>
<%= link_to "All Projects", batch_projects_path(@batch) %> |
<%= link_to "CLI", batch_projects_path(@batch, {type: "CLI"}) %> |
<%= link_to "Sinatra", batch_projects_path(@batch, {type: "Sinatra"}) %> |
<%= link_to "Rails", batch_projects_path(@batch, {type: "Rails"}) %> |
<%= link_to "Rails/JS", batch_projects_path(@batch, {type: "Rails/JS"}) %> |
<%= link_to "React", batch_projects_path(@batch, {type: "React"}) %> |
<% if @batch_progress_report %>
  <%= render template: "batch_progress_reports/show" %>
<% end %>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %> | 
<%= link_to 'Past Reports', batch_progress_reports_path(@batch) %>
