<!DOCTYPE html>
<html>
  <head>
    <title>StudentProgressRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="ph4 pv2 bg-lightest-blue">
      <% menu_class = "navy no-underline pr4 f3" %>
      <a href="/" class="<%= menu_class %>">Home</a>
    </nav>
    <div class="ph4">
      <%= yield %>  
    </div>
  </body>
</html>
